footer {
  position: relative;
  background-color: #7bc4ae;
  color: #fff;
  padding: 30px 0 40px;
}

footer p,
footer a {
  font-weight: 300;
  color: #fff;
  line-height: 1.8;
  font-size: 1em;
}

footer a {
  font-weight: 400;
}