/*************
My Works Page
**************/

/* Section styles */
$edu-grey: #616965;
$edu-yellow: #ffc501;
$elevate-green: #006241;
$elevate-blue: #00aeef;
$mantis-green: #008c4c;
$mantis-red: #e44d52;
$skinny-green: #3ea430;
$skinny-grey: #55565a;
$fernbrook-tan: #f5eadd;
$homestead-green: #669999;
$powercorps-blue: #0076c2;